body {
  font-family: "Tourney", cursive;
  margin: 0;
}
h1 {
  font-size: 55px;
}
.orange-color {
  color: orangered;
}
.ssssss {
  display: flex;
  margin-bottom: 155px;
}
.half-width {
  width: 50%;
  padding-left: 7%;
}
img {
  width: 75%;
  margin-left: 64px;
  margin-top: 70px;
}
.link-button {
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: aqua;
  font-weight: 700px;
  color: rgb(182, 108, 12);
  width: 22px;
  margin-top: 11px;
  font-family: bold;
}
.top-banner {
  background-image: url(developer-portfolio/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(developer-portfolio/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.aaaa {
  margin-right: 150px;
}
.experience-item {
  width: 40%;
  box-shadow: 10px 10px 40px grey;
  margin-left: 5%;
  margin-right: 5%;
  padding: 33px;
  border-radius: 22px;
}
.exprience-area {
  background-image: url(developer-portfolio/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.ali {
  text-align: center;
}
#web {
  border-image: linear-gradient(blue, cyan);
  border-left: 7px solid;
  border-image-slice: 1;
}
#ddd {
  border-image: linear-gradient(salmon, cyan);
  border-left: 7px solid;
  border-image-slice: 1;
}
footer p {
  text-align: center;
  color: rgb(182, 108, 12);
}
